.rightsidebar {
    flex: 0.2;
    min-width: 200px;
    background: rgb(244,245,254);
    padding: 20px;
}

.chips p {
    color: #3e3e40;
    display: flex;
    align-items: center;
}

.chips1 {
    display: flex;
}

.one {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.two {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
}

.fav {
    color: rgb(39,39,41);
    font-size: 26px;
}